{{#if addNewPost}}
  <form class="new__post">
    <label for="title">Title</label>
    {{input value=title id="title" placeholder=post.title}}

    <label for="author">Author</label>
    {{input value=author id="author" placeholder=post.author}}

    <label for="body">Body</label>
    {{textarea rows="10" cols="60" value=body id="body" placeholder=post.body}}

    <label for="image">Image URL</label>
    {{input value=image id="image" placeholder=post.image}}
    <br>
    <button {{action 'addNewPost'}}class="btn btn-lg btn-success" type="button" name="button">Save Post</button>
  </form>
{{else}}
  <button {{action 'showNewPostForm'}}class="btn btn-lg" type="button" name="button">Add Post</button>
{{/if}}
{{yield}}
