<div class="container animated fadeIn">
  <div class="title__area">
    <h2>{{model.title}}</h2>
    <h6>By {{model.author}} on {{model.date}}</h6>
  </div>
  <div class="text__area">
    <img class="post__image" src="{{model.image}}" alt="" />
  </div>
    <p class="post__body">{{model.body}}</p>

    <div class="comments">
      <h2>Comments</h2>
      {{comment-tile}}
      {{new-comment}}
    </div>
</div>


{{outlet}}
