<div class="container">
  <h2>{{model.title}}</h2>
  <h6>By {{model.author}} on {{model.date}}</h6>
  <div class="text__area">
    <img src="{{model.image}}" alt="" />
    <p>{{model.body}}</p>
  </div>
</div>


{{outlet}}
